:root {
  --yellow: #fae100;
  --horizontal-space: 20px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
  --light-black-2: rgba(0, 0, 0, 0.2);
  --light-black-3: rgba(0, 0, 0, 0.3);
  --light-black-4: rgba(0, 0, 0, 0.4);
  --light-black-5: rgba(0, 0, 0, 0.5);
  --light-black-6: rgba(0, 0, 0, 0.6);
  --light-black-7: rgba(0, 0, 0, 0.7);
}
