:root {
  --yellow: #f7d16d;
  --avatar: #684327;
  --brown: #4f4732;
  --dark-brown: #49433f;
  --black: #2e2e2e;
  --white: #f3f3f3;
  --pink: #ff8ad2;
  --yellow-white: #fcf3e4;
  --light-brown-5: rgba(40, 22, 0, 0.5);
  --light-brown-6: rgba(40, 22, 0, 0.6);
  --light-brown-7: rgba(40, 22, 0, 0.7);

  --main-border: 1px solid rgba(90, 87, 87, 0.1);
  --horizontal-space: 20px;
}
