#babambatalk-info {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 15px;
  color: var(--light-brown-7);
}

#babambatalk-info i {
  color: var(--light-brown-7);
  margin-right: 2px;
}

.info-message {
  font-family: "Sunflower", sans-serif;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
  margin-top: 20px;
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--brown);
  font-size: 20px;
}
