#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
#friends-display-link span {
  padding-left: 0px;
  padding-right: 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
  margin-top: 20px;
}
.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 360px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
