.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.welcome-header__title {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Nerko One", cursive;
}
.login-header__avatar {
  display: none;
}
.welcome-header__avatar {
  width: 160px;
  height: 160px;
  background-color: var(--avatar);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
  box-shadow: rgb(37, 37, 37) 3px 3px 6px 0px inset,
    rgba(128, 128, 128, 0.5) -3px -3px 6px 1px inset;
}
@keyframes scaleup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.login-wrap:hover .welcome-header__avatar img {
  animation: scaleup 1s ease-in-out infinite;
}
.welcome-header__avatar img {
  width: 60%;
  height: 60%;
  margin: auto;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}

.welcome-header__text {
  opacity: 0.8;
  font-size: 22px;
  animation: floating 1s ease-in-out infinite;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 50%;
  bottom: 4.5vh;
  transform: translateX(-50%);
}

.login-form input {
  background: transparent;
  border: none;
  font-size: 18px;
  font-family: "Gamja Flower", cursive;
}

.login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  margin-top: 30px;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Gamja Flower", cursive;
}

.login-form input:focus {
  border-bottom-width: 2px;
  font-weight: 600;
}

.login-form input[type="submit"] {
  margin-top: 10vh;
  width: var(--wrap-width);
  height: 10vh;
  cursor: pointer;
  border-radius: 40px 40px 0 0;
  font-size: 26px;
  color: var(--yellow-white);

  transition: background 0.2s ease-in-out;
  background-color: var(--brown);
}
.login-form input[type="submit"]:hover,
.login-form input[type="submit"]:focus {
  background-color: var(--yellow-white);
  color: var(--brown);
  font-weight: 600;
}
