body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  width: var(--wrap-width);
  height: var(--wrap-height);
  padding: 100px 0;

  overflow: auto;
  background: var(--white);
  font-family: "Dongle", sans-serif;
}
.friends-wrap {
  overflow: hidden;
}
.login-wrap {
  background-color: var(--yellow);
  overflow: hidden;
}

.main-screen {
  margin: var(--horizontal-space);
  margin-top: 25%;
  border: 1px #000;
}

/* friends만 해당 */
.contents {
  height: 100%;
  overflow: auto;
  margin-top: 22%;
}
