.badge {
  background-color: var(--pink);
  border-radius: 50%;
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  font-size: 14px;
  font-weight: 600;
  transform: translateY(-4px);
}

/* chat 알림 */
.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
  animation: notificationAnimation 4s ease-in-out infinite;
}

/* 더보기 알림 */
.small-badge {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--pink);
  border-radius: 50%;

  position: absolute;
  left: 30px;
  top: 0px;
}

/*  talk drive 아이콘 */
.icon-row__icon .fa-hard-drive {
  position: relative;
}
.icon-row__icon .fa-hard-drive .small-badge {
  position: absolute;
  top: -22px;
  right: 0;
}

.setting {
  position: relative;
}
.setting .badge {
  width: 5px;
  height: 5px;
  position: absolute;
  right: -5px;
  top: -5px;
}
