.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 12px var(--horizontal-space);
}
.screen-header__title {
  font-size: 36px;
  font-weight: 600;
}
.screen-header__icons {
  display: flex;
  align-items: center;
}
.screen-header__icons span {
  margin-left: 12px;
  cursor: pointer;
  padding: 3px;
}
.xi-user-plus {
  font-size: 26px;
}

@keyframes rotateZIcon {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateYIcon {
  from {
    transform: none;
  }
  to {
    transform: rotateY(360deg);
  }
}

.screen-header__icons i:not(.fa-gear):hover {
  animation: rotateYIcon 0.8s linear;
}
.screen-header__icons .fa-gear:hover {
  animation: rotateZIcon 1s linear infinite;
}
