.user-component {
  padding: 10px 0;
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 32%;
  margin-right: 20px;
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
  border-radius: 38%;
  margin-right: 20px;
  background: var(--avatar);
}
.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.user-component__title {
  font-size: 30px;
  font-weight: 600;
}
.user-component__title--sm {
  font-size: 24px;
  font-weight: 400;
}
.user-component__subtitle {
  margin-top: 6px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__column.bam > img {
  background: var(--brown);
  padding: 8px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}
.user-component__column:last-child > span {
  display: block;
  font-size: 24px;
  margin-right: 7px;
  margin-top: 4px;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
